:root{
    --heigth18: 500px;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px black ;
}

.lista{
    font-size: 30px;
    list-style: none;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-transform: uppercase;
}


.footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 430px;
    
}


.titi{
    width: 350px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px white;
}

.titr{
    width: 350px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px white;
}

.titu{
    width: 350px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px white;
}

.texti{
    font-size: 25px;
    color: white;
    text-align: left;
    margin: 5px;
    width: 450px;
}

.cf{
    display: flex;
    margin-left: -80px;
    margin-top: 40px;
}

.cr{
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
}
.cu{
    display: flex;
    margin-left: -200px;
    margin-top: 30px;
}

.imgs{
    height: 50px;
    margin-top: -3px;
}


.ub{
    height: 250px;
    width: 600px;
}


@media screen and (max-width:1800px) {
    .footer{
        justify-content: center;    
    }
}



@media screen and (max-width:1600px) {
.footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 430px;
}

.texti{
    font-size: 22px;
    color: white;
    text-align: left;
    margin: 5px;
    width: 380px;
}

.cf{
    display: flex;
    margin-left: -50px;
    margin-top: 40px;
}

.cr{
    display: flex;
    margin-left: 10px;
    margin-top: 40px;
}
.cu{
    display: flex;
    margin-left: -100px;
    margin-top: 30px;
}

.imgs{
    height: 50px;
    margin-top: -3px;
}

.ub{
    height: 250px;
    width: 450px;
}
}



@media screen and (max-width:1300px) {
    .footer{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        height: 430px;
    }
    
    
    .titi{
        width: 280px;
        text-transform: uppercase;
        text-align: center;
        margin-left: 60px;
        font-size: 35px;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 3px white;
    }
    .titr{
        width: 280px;
        text-transform: uppercase;
        text-align: center;
        margin-right: -50px;
        font-size: 35px;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 3px white;
    }
    .titu{
        width: 280px;
        text-transform: uppercase;
        text-align: center;
        margin-left: -80px;
        font-size: 35px;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 3px white;
    }
    
    .texti{
        font-size: 22px;
        color: white;
        text-align: left;
        margin: 5px;
        width: 320px;
    }
    
    .cf{
        display: flex;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .cr{
        display: flex;
        margin-left: 100px;
        margin-top: 40px;
    }
    .cu{
        display: flex;
        margin-left: -170px;
        margin-top: 30px;
    }
    
    .imgs{
        height: 50px;
        margin-top: -3px;
    }
    
    .ub{
        height: 250px;
        width: 450px;
    }
    }


    @media screen and (max-width:1200px) {
        .footer{
            background-color: black;
            display: flex;
            flex-wrap: wrap;
            height: 430px;
        }
        
        
        .titi{
            width: 280px;
            text-transform: uppercase;
            text-align: center;
            margin-left: 40px;
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 3px white;
        }
        .titr{
            width: 280px;
            text-transform: uppercase;
            text-align: center;
            margin-right: -50px;
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 3px white;
        }
        .titu{
            width: 280px;
            text-transform: uppercase;
            text-align: center;
            margin-left: -50px;
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 3px white;
        }
        
        .texti{
            font-size: 20px;
            color: white;
            text-align: left;
            width: 300px;
        }
        
        .cf{
            display: flex;
            margin-left: 10px;
            margin-top: 40px;
        }
        
        .cr{
            display: flex;
            margin-left: 30px;
            margin-top: 40px;
        }
        .cu{
            display: flex;
            margin-left: -120px;
            margin-top: 30px;
        }
        
        .imgs{
            height: 40px;
            margin-top: -3px;
        }
        
        .ub{
            height: 260px;
            width: 380px;
        }
        }



        @media screen and (max-width:1076px) {
           
            
            .lista{
                font-size: 20px;
                list-style: none;
                margin: 20px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                text-shadow: 1px 1px 2px rgb(0, 0, 0);
                text-transform: uppercase;
            }
            
            .footer{
                background-color: black;
                height: 830px;
                display: flex;
                flex-wrap: wrap;
            }
            
            
            .titi, .titr, .titu {
                width: 350px;
                text-transform: uppercase;
                text-align: center;
                font-size: 35px;
                font-weight: bold;
                color: white;
                text-shadow: 1px 1px 3px white;
            }


            .titr{

                margin-left: 120px;
            }

            .titu{
                margin-left: 200px;
            }
            
            .texti{
                
                font-size: 25px;
                color: white;
                text-align: left;
                width: 280px;
           }
            
            .cf{
                display: flex;
                margin-left: 50px;
                margin-top: 40px;
            }
            
            .cr{
                display: flex;
                margin-left: 200px;
                margin-top: 40px;
            }
            .cu{
                display: flex;
                margin-top: 30px;
            }
            
            .imgs{
                height: 40px;
                margin-top: -3px;
            }
            
            .ub{
                height: 250px;
                width: 600px;
                margin-left: 100px;
            }
            }



            @media screen and (max-width:945px) {
           
            
                .lista{
                    font-size: 20px;
                    list-style: none;
                    margin: 20px;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    text-shadow: 1px 1px 2px rgb(0, 0, 0);
                    text-transform: uppercase;
                }
                
                .footer{
                    background-color: black;
                    height: 830px;
                    display: flex;
                    flex-wrap: wrap;
                }
                
                
                .titi, .titr, .titu {
                    width: 250px;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 25px;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 1px 3px white;
                }
    
    
                .titr{
    
                    margin-left: 80px;
                }
    
                .titu{
                    margin-left: 200px;
                }
                
                .texti{
                    
                    font-size: 18px;
                    color: white;
                    text-align: left;
                    width: 220px;
               }
                
                
                }

                @media screen and (max-width:825px) {
           
            
                    .lista{
                        font-size: 18px;
                        list-style: none;
                        margin: 20px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        text-shadow: 1px 1px 2px rgb(0, 0, 0);
                        text-transform: uppercase;
                    }
                    
                    .footer{
                        background-color: black;
                        height: 830px;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                    
                    .titi, .titr, .titu {
                        width: 200px;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 25px;
                        font-weight: bold;
                        color: white;
                        text-shadow: 1px 1px 3px white;
                    }
        
        
                    .titr{
        
                        margin-left: 130px;
                    }
        
                    .titu{
                        margin-left: 150px;
                    }
                    
                    .texti{
                        
                        font-size: 18px;
                        color: white;
                        text-align: left;
                        width: 150px;
                   }
                    
                    
                    }


                    @media screen and (max-width:688px) {
           
            
                        .lista{
                            font-size: 18px;
                            list-style: none;
                            margin: 20px;
                            color: rgb(0, 0, 0);
                            font-weight: bold;
                            text-shadow: 1px 1px 2px rgb(0, 0, 0);
                            text-transform: uppercase;
                        }
                        
                        .footer{
                            background-color: black;
                            height: 1030px;
                            display: flex;
                            flex-wrap: wrap;
                        }
                        
                        
                        .titi{
                            width: 200px;
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 25px;
                            font-weight: bold;
                            color: white;
                            text-shadow: 1px 1px 3px white;
                   
                        }

                        .cf{
                            margin-left: 25px;
                        }
  
                        .titr, .titu {
                            width: 200px;
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 25px;
                            font-weight: bold;
                            color: white;
                            text-shadow: 1px 1px 3px white;
                        }
            
            
                        .titr{
            
                            margin-left: 130px;
                        }
            
                        .titu{
                            margin-left: 150px;
                            margin-top: -200px;
                        }
                        
                        .texti{
                            
                            font-size: 18px;
                            color: white;
                            text-align: left;
                            width: 150px;
                       }

                       .ub{
                        width: 550px;
                       }
                        
                        
                        }


                        @media screen and (max-width:660px) {
           
            
                            .lista{
                                font-size: 18px;
                                list-style: none;
                                margin: 20px;
                                color: rgb(0, 0, 0);
                                font-weight: bold;
                                text-shadow: 1px 1px 2px rgb(0, 0, 0);
                                text-transform: uppercase;
                            }
                            
                            .footer{
                                background-color: black;
                                height: 1130px;
                                display: block;
                            }
                            
                            
                            .titi{
                                width: 350px;
                                text-transform: uppercase;
                                margin:  0 auto;
                                text-align: center;
                                font-size: 35px;
                                font-weight: bold;
                                color: white;
                                text-shadow: 1px 1px 3px white;
                       
                            }
    
                            .cf{
                                width: 500px;
                                justify-content: center;
                                text-align: center;
                            }

                            .cr{
                                justify-content: center;
                                width: 350px;
                            }
      
                            
                            .titr{
                                width: 280px;
                                text-transform: uppercase;
                                margin:  0 auto;
                                margin-top: 10px;
                                text-align: center;
                                font-size: 35px;
                                font-weight: bold;
                                color: white;
                                text-shadow: 1px 1px 3px white;
                       
                            }
                
                            .titr{
                                justify-content: center;
                                text-align: center;
                            }
                            
                            

                            .titu{
                                width: 350px;
                                text-transform: uppercase;
                                margin:  0 auto;
                                justify-content: center;
                                text-align: center;
                                font-size: 35px;
                                font-weight: bold;
                                color: white;
                                text-shadow: 1px 1px 3px white;
                               
                                margin-top: 60px;
                            }
                            

                            .texti{
                                
                                font-size: 22px;
                                color: white;
                                text-align: left;
                                width: 280px;
                                justify-content: center;
                           }
    
                           .ub{
                            width: 500px;
                           }

                           .cu{
                            justify-content: center;
                           }
                            
                            
                            }